<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
<header>
    <h1 id="heading">Background <span>Remover</span></h1>
</header>
<div class="main">
    <div class="content">
<div class="bg1">
    <div class="image1">
<img src="" id="i3"  alt="">
    </div>
   
    <input type="file" class="selectimg" id="inputimg" >
    <button  id="select" type="button">Select</button>

</div>
<div class="bg2">
    <div class="image2">
        <img id="i2" src="" alt="" srcset="">
            </div>
            <button id="download">Download</button>
</div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script src="index.js"></script>
</body>

</html>